<h1 class="text-4xl text-center font-bold my-4">404: Not Found</h1>
<section class="flex justify-center items-center">
    <div class="inline-block p-10 rounded-md bg-gray-200 border border-gray-300">
        <img class="rounded-md" width="300px" height="400px" src="../../assets/pics/ntosee.gif" alt="Nichts zu sehen">
    </div>    
</section>
<section class="text-center">
    <ul class="block my-2 mx-auto">
        <li>
            <button [routerLink]="['/']"><i class="fas fa-home"></i> Back to home</button>
        </li>
    </ul>
</section>
 
