.backdrop{
    width: 100vw;
    height: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    background: rgba(0,0,0,0.75);
    z-index: 50;
}

.alert-box{
    position: fixed;
    top: 20vw;
    width: 60vw;
    left: 20vw;
    padding: 30px;
    background: #762EB0;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.p{
    color: black;

}
