<section class="w-full py-4">
    <div class="grid grid-cols-2 grid-rows-1">
        <div class="h-full flex justify-center items-center content-center flex-col">
            <h1 class="text-center text-5xl font-bold">Your place for playlist <br>conversion</h1>
            <p class="mt-7 opacity-50 font-normal">Move your playlists across platforms without a hassle.</p>
        </div>
        <div class="">
            <div class="p-12 bg-white rounded-xl shadow-2xl overflow-hidden">
                <div class="pt-2 pb-6" [ngClass]="{'pt-6 pb-12 border-2 border-red-700': ((flowService.$selectedFlow | async).currentStep.id <= 0) }">
                    <app-flow-select [enableSwitcher]="false"></app-flow-select>
                </div>

                <router-outlet></router-outlet>

                <hr>
                <div class="text-center">
                    <button class="btn-full btn-lg btn-spotify" (click)="startFlow()"><i class="fab fa-spotify"></i>Start with login on Spotify</button>
                </div>
            </div>
        </div>
    </div>
</section>