<section class="w-full">
    <div class="grid grid-cols-2 grid-rows-1">
        <div class="h-full debug">
            <h1>Your place for playlist conversion</h1>
            <p>Move your playlists across platforms without a hassle.</p>
        </div>
        <div class="debug">
            <div class="p-4 bg-white rounded-lg">
                <img  class="block h-12 w-12 pr-2 align-middle cursor-pointer mx-auto" src="../../../assets/logo/cockroach.svg" />

                <div class="py-6">
                    <app-flow-select ></app-flow-select>
                </div>
                
                <app-flow-list [flowList]="flowList"></app-flow-list>

                <div class="text-center">
                    <button class="btn-full btn-lg btn-spotify" (click)="requestSpotifyGrantCode()"><i class="fab fa-spotify"></i>Connect with Spotify</button>
                    <!--<button class="btn-lg btn-spotify" (click)="requestSpotifyGrantCode()"><i class="fab fa-spotify"></i>Start now</button>-->
                </div>

                <!--<div class="mt-16">
                    <button class="btn-full btn-md btn-spotify" (click)="requestSpotifyGrantCode()"><i class="fab fa-spotify"></i> Mit Spotify anmelden</button>
                </div>-->
            </div>
        </div>
    </div>
</section>

