/*
[]=========== Fonts ===========[]
*/
@font-face {
    font-family: 'Whitney';
    font-weight: 400;
    src: url('/assets/fonts/whitney/whitneysemibold.otf') format('opentype');
}
@font-face {
    font-family: 'Whitney';
    font-weight: 800;
    src: url('/assets/fonts/whitney/whitneybold.otf') format('opentype');
}